<%- include('../header')%>
    <style>
        body {
            background-color: #000814;
        }

        form {
            max-width: 500px;
            margin: 0 auto;
            margin-top: 150px;
            padding: 20px;
            background-color: rgba(223, 191, 191, 0.1);
            border-radius: 10px;

        }

        .form-label {
            font-size: 14px;
            text-align: left;
            color: white;
        }

        .form-control {
            font-size: 14px;
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 3px;
            color: white;
            transition: background-color 0.3s;
        }

        .form-control:focus {
            background-color: white;
        }

        .btn-primary {
            font-size: 14px;
            padding: 10px;
        }
    </style>
    </head>

    <body>
        <form action="/movieGenres/add" method="post">
            <h3 class="text-center text-white">Add Movie Genre</h3>
            <div class="mb-3">
                <label for="movieId" class="form-label">MovieId</label>
                <input type="number" name="movieId" class="form-control">
            </div>
            <div class="mb-3">
                <label for="genreId" class="form-label">GenreId</label>
                <input type="number" name="genreId" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <%- include('../footer')%>